.footer {
    text-align: center;
    padding: 114px 0 123px 0;

    h4 {
        color: $primaryColor;
        font-weight: 800;
        line-height: normal;
        font-size: 34px;
        margin-bottom: 20px;
    }

    p {
        color: $primaryColor;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 30px;
    }

    button {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 86px;
        background-color: #000;
        padding: 12px 28px;
        border: none;
        border-radius: 60px;
    }

    .footer-links {
        @include dFlex(center);
        gap: 60px;
        margin-bottom: 45px;
    }

    span {
        color: $secondaryColor;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
    }
}
