.wrapper {
    background-color: $backgroundColor;

    .content{
        padding: 181px 0 107px 0;
        width: 40%;
        text-align: center;
        margin: 0 auto;

        .content-title {
            color: $primaryColor;
            font-size: 34px;
            font-weight: 800;
            line-height: normal;
            margin-bottom: 17px;
        }

        p {
            margin-bottom: 40px;
            color: $primaryColor;
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.sidebar {
    padding: 91px 0 110px 0;

    .sidebar-title {
        margin-bottom: 83px;
        text-align: center;

        h3 {
            color: $primaryColor;
            font-size: 34px;
            font-weight: 800;
            line-height: normal;
            margin-bottom: 70px;
        }

        p {
            color: $primaryColor;
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
        }
    }

    .sidebar-content {
        @include dFlex;

        .sidebar-item {
            text-align: center;

            .card-img {
                margin-bottom: 24px;
            }

            p {
                color: $secondaryColor;
                font-size: 14px;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 42px;
            }
        }
    }
}

.sectionPort {
    padding-top: 112px;
    text-align: center;

    h1 {
        color: $primaryColor;
        font-size: 34px;
        font-weight: 800;
        line-height: normal;
        margin-bottom: 47px;
    }

   .sectionPort-body {
    @include dFlex;
    flex-direction: column;
    gap: 45px;
     padding-bottom: 99px;

     a {
        padding: 10px 15px;
        text-decoration: underline;
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
        color: $primaryColor;
     }
   }
}
