/*header section*/
@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Regular.eot");
  src: url("../Fonts/Regular.eot?#iefix") format("embedded-opentype"),
    url("../Fonts/Regular.woff2") format("woff2"),
    url("../Fonts/Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Medium.eot");
  src: url("../Fonts/Medium.eot?#iefix") format("embedded-opentype"),
    url("../Fonts/Medium.woff2") format("woff2"),
    url("../Fonts/Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
  font-style: normal;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header .header-top {
  padding: 32px 0;
  border-bottom: 1px solid grey;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul li a {
  color: #828282;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  padding: 12px 15px;
}
header ul li a:hover {
  color: #070707;
  font-weight: 800;
}
header ul li a:first-of-type {
  padding-left: 0;
}
header ul li a:last-of-type {
  padding-right: 0;
}
header .header-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 0 30px 0;
}
header .header-title h1 {
  color: #070707;
  font-size: 47.339px;
  font-weight: 400;
  line-height: normal;
}
header .header-title p {
  color: #070707;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
header .header-title .header-language {
  margin-bottom: 26px;
  transform: rotate(270deg);
}
header .header-title span {
  color: #828282;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
header .header-title .en-lang {
  color: #000;
  font-weight: 800;
}
header .header-img {
  padding-bottom: 104px;
}
header .header-img img {
  width: 100%;
}
/*End header section*/